# Secrets
.env
.env.*
!.env.example

# AWS credentials
.aws/
credentials
config

# Java
target/
*.class

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

StructureAndLabList.md
PROBLEMSLIST.md